@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@layer base {}

@layer components {
    .main-picture {
        .typing {
            width: 12ch;
            animation: typing 2s steps(12), blink 0.5s step-end infinite alternate;
            white-space: nowrap;
            overflow: hidden;
            border-right: 3px solid;
        }
    }

    .tabs_radio_button:checked+label {
        @apply font-bold;
        @apply border-b-lime-100;
        @apply rounded-t-md;
        @apply text-secondary-100
    }

    .tabs_radio_button:checked+label+.content {
        display: initial;
    }

}